.button,
.buttonVisible {
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border-radius: 100%;
  border: 2px solid orange;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  opacity: 0;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonVisible {
  opacity: 1 !important;
}